# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# DynamoDB Local
DYNAMODB_ENDPOINT_URL=http://dynamodb-local:8000
AWS_ACCESS_KEY_ID=fakeMyKeyId
AWS_SECRET_ACCESS_KEY=fakeSecretAccessKey
AWS_DEFAULT_REGION=us-east-1
DYNAMODB_TABLE_NAME=mi_mercado

# Redis
REDIS_URL=redis://redis:6379/0

# LocalStack
LOCALSTACK_ENDPOINT=http://localhost:4566
